* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-200: #bce6ff;
  --blue-300: #8ed8ff;
  --blue-400: #59c0ff;
  --blue-500: #249cff;
  --blue-600: #1b84f5;
  --blue-700: #1b84f5;
}