section {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding-bottom: 22px;
}
.form_main {
  width: 22rem;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid #dddddd;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.123);
  background-color: var(--blue-200);
}

.form_icon{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}